{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>
      {% if is_home %}
        Главная
      {% else %}
        {% block title %}{% endblock title %}
      {% endif %}
    </title>
    <link href="{% static 'img/icon.png' %}" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>
  <body>
    <div class="wrapper">
      {% include 'navbar.html' %}

      <main>
        {% block content %}
        {% endblock content %}
      </main>

      {% include 'footer.html' %}
    </div>

    <!-- JavaScript -->
    <script src="{% static 'js/navbar-scroll.js' %}"></script>
    
  </body>
</html>
