html, body {
    background-color: #615049;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #F1D3BC;
    font-family: sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* занимает всё свободное пространство */
}
