{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>
      {% if is_home %}
        Главная
      {% else %}
        {% block title %}{% endblock title %}
      {% endif %}
    </title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'img/icon.png' %}" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/games.css' %}">
  </head>
  <body>
    <div class="wrapper">
      {% include 'includes/navbar.html' %}

      <main>
        <div class="content-container">
          {% block content %}
          {% endblock content %}
        </div>
      </main>

      {% include 'includes/footer.html' %}
    </div>

    <!-- JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/navbar-scroll.js' %}"></script>
    
  </body>
</html>